{% extends "base.html" %}

{% load static %}

{% block Head %}
<script src="https://cdn.onesignal.com/sdks/OneSignalSDK.js" async=""></script>
<script>
    window.OneSignal = window.OneSignal || [];
    OneSignal.push(function () {
        OneSignal.init({
            appId: "b7a3f46c-d540-43d9-9b4c-fc3b31a95b83",
        });
    });
</script>
{% endblock Head %}

{% block body %}
<div class="container my-3">
    <h5>If your first time, Please Wait Popup Box is Opening for Push Notification..</h5>
    <form action="notification">
        <div class="row">
            <div class="col-md-6">
                <div class="mb-3">
                    <label for="time1" class="form-label">Time 1</label>
                    <input type="text" class="form-control" id="time1" name="time1">
                </div>
            </div>
            <div class="col-md-6">
                <div class="mb-3">
                    <label for="time2" class="form-label">Time 2</label>
                    <input type="text" class="form-control" id="time2" name="time2">
                </div>
            </div>
            <div class="col-md-6">
                <div class="mb-3">
                    <label for="time3" class="form-label">Time 3</label>
                    <input type="text" class="form-control" id="time3" name="time3">
                </div>
            </div>
            <div class="col-md-6">
                <div class="mb-3">
                    <label for="time4" class="form-label">Time 4</label>
                    <input type="text" class="form-control" id="time4" name="time4">
                </div>
            </div>
        </div>

        <div class="mb-3">
            <div class="row">
                <label class="form-label"><b>Start Date</b></label><br>
                <div class="col-md-2">
                    <label for="day1">Day</label>
                    <input type="text" class="form-control" id="day1" name="day1">
                </div>
                <div class="col-md-2">
                    <label for="month1">Month</label>
                    <input type="text" class="form-control" id="month1" name="month1">
                </div>
                <div class="col-md-2">
                    <label for="year1">Year</label>
                    <input type="text" class="form-control" id="year1" name="year1">
                </div>
            </div>
        </div>
        <div class="mb-3">
            <div class="row">
                <label class="form-label"><b>End Date</b></label><br>
                <div class="col-md-2">
                    <label for="day2">Day</label>
                    <input type="text" class="form-control" id="day2" name="day2">
                </div>
                <div class="col-md-2">
                    <label for="month2">Month</label>
                    <input type="text" class="form-control" id="month2" name="month2">
                </div>
                <div class="col-md-2">
                    <label for="year2">Year</label>
                    <input type="text" class="form-control" id="year2" name="year2">
                </div>
            </div>
        </div>
        <input type="hidden" name="user_id" id="user_id">
        <div class="text-center">
            <input type="submit" value="Get Notification" class="btn btn-primary">
        </div>
    </form>
</div>
{% endblock body %}

{% block OutSide %}
<script type="text/javascript">
    OneSignal.push(function () {
        /* These examples are all valid */
        var isPushSupported = OneSignal.isPushNotificationsSupported();
        if (isPushSupported) {
            // Push notifications are supported
            console.log("supported");
            OneSignal.isPushNotificationsEnabled(function (isEnabled) {
                if (isEnabled) {
                    console.log("Push notifications are enabled!");
                    OneSignal.getUserId(function (userId) {
                        console.log("OneSignal User ID:", userId);
                        document.getElementById('user_id').value = userId;
                        // OneSignal User ID: 30f8622a-2bbf-4ab0-a251-1c49a1b51d1c
                    });
                }
                else
                    console.log("Push notifications are not enabled yet.");
                OneSignal.push(function () {
                    OneSignal.showHttpPrompt();
                });
            });
        } else {
            // Push notifications are not supported
            console.log("Not supported");
        }
    });
</script>
{% endblock OutSide %}